<md-dialog aria-label="Ecrire un message" ng-cloak>
  <form>
    <md-dialog-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
    <div>
      <md-input-container>
        <label>Nom/Raison sociale</label>
        <input ng-model="contactname">
      </md-input-container>
    </div>
  </md-dialog-content>
    <md-input-container>
        <label>Entrez votre message...</label>
        <input ng-model="textmessage" type="text">
      </md-input-container>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Annuler
      </md-button>
      <md-button ng-click="sendMessage()" style="margin-right:20px;">
       Envoyer
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
