
<link rel="stylesheet" href="style/navbar.css"/>

<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header navbar-left">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/login">ThinkTwice</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <button type="button" ng-click="goProfil()" class="btn btn-default btntt navbar-btn">Éditer mon profil</button>
                <button type="button" ng-click="goMatch()" class="btn btn-default btntt navbar-btn">Discuter avec mon Match</button>
                <button type="button" ng-click="deconnection()" class="btn btn-default btntt navbar-btn">Se déconnecter</button>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>