 img {
    width: 30%;
}


#editform{
    padding: 5%;
    border-radius: 2%;
	float:center;
	text-align:left;
}

#submitButton {
    background-color: #da12b7;
    margin: 0 5% 0 5%;
    width: 30%;
	float:left;
	margin-top:5%;
}

#cancelButton {
    background-color:  #9612da;
    margin: 0 5% 0 5%;
	width:30%;
	float:left;
	margin-top:5%;
}

.form-group {
    margin-top: 5%;
}
.form-group input {
	border-radius:10%;
	float: right;
	border : 2px solid gray;
	width:15em;
}

#mainContainer {
	background-color:#ECECEC;
	height:90%;
	width:90%;
	margin:5%;
	border-radius:5%;
}