
.profilPicture {
    height: auto;
    max-height:35%;
    width: 35%;
}

.profileArea {
    border: 5px black;
    border-radius: 10px;
}

.chat {

    list-style-type: none;
}
.chat li {
    list-style: none;
}

.profileArea img{
    float: left;
}

.row{
    width:80%;
    margin-left : auto;
    margin-right: auto;
}


.panel-heading {
    background-color:  #da12b7!important;
}

.panel {
    border-color: #da12b7;
}

.panel-body {
    border-color: #da12b7;
}

.btn {
    background-color: #da12b7!important;
    color: white;
    font-weight: 400;
}

#containerButton {
    margin-bottom: 1%;
}