/**
    SIDENAV
**/
.active {
    background-color: rgba(25,75,144,0.3);
}
h4.subText{
    font-size: 0.8em !important;
    color:#9E9E9E !important;
}
#resume{
    padding:30px;
    font-size: 1em;
    font-family: "Helvetica Neue";
}
/**
    ENTETE
**/
#resume #entete{
    width: 100%;
    margin-top:50px;
}

#resume #entete img{
    border-radius: 50px;
    width:100px;
    height:100px
}
#resume #entete div{
    text-align: right;
}
/**
   TITRE
**/
#resume h1{
    text-align: center;
    text-transform: uppercase;
    color: #34A5DA;
}
/**
   SECTION
**/
/*#resume .resume_block{*/
    /*display: none;*/
/*}*/
#resume .extra{
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
}
#resume .resume_block .resume_line{
    width: 100%;
    margin-bottom: 10px;
}

#resume .resume_block .resume_line .date{
    font-size: 0.7em;
    color: gray;
}
#resume h3{
    border-bottom: 1px solid black;
    cursor: pointer
}
#resume h4{
    font-weight: normal;
    margin: 0px;
}
#resume h5{
    font-weight: 200;
    margin: 0px;
}

#resume .resume_block ul{
    list-style: none;
    padding: 0px;
    font-size: 0.8em;
    margin-top:5px;
    margin-bottom: 0px;
}
#resume .resume_block ul li{
    padding-bottom: 5px;
    color: gray;
}
#resume .resume_block ul li:last-child{
    padding-bottom: 0px;
}

/**
    List free
**/

.content{
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    border:1px solid grey;
    color: #555;
    font-size: 0.8em;
}
.content em{
    font-size: 0.8em;
}
#nav_messages{
    
    float:right;
    width:20%;
    z-index:1000000000;
    position:relative;
    height:100%;
}