
body {
    padding-top: 75px;
}

.navbar {
    background-color: #da12b7;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}
