
body {
    padding-top: 75px;
}

.navbar {
    background-color :#da12b7 ;
}

.dropdown {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: White;
}

.navbar-default .navbar-brand {
    color: White;
}

.btntt{
    background-color: #9612da!important;
    color: white;
}
