
#profileArea {
    border: 2px;

}

#btnUpload {
    width:80%;
}

img{
    width:80%;
    border-radius:20px;
}

#uploadThumbnail {
    max-width: 150px;
    border-radius: 20px
}

#questionWrapper {
    max-height:60%;
    overflow : scroll;
}


 #formProfil {
     margin-bottom : 5%;
 }
 #formInteret {
      margin-bottom : 15%;
  }

.formTitle {
    color: #3f3f3f;
    font-size:200%;
    text-shadow: #4F4D3F;
}

div.form-group span {
    color : #da12b7;
}
