    <link rel="stylesheet" href="../style/match.css" />
    <link rel="stylesheet" href="../style/navbar.css" />

<!-- NAVBAR -->
<navbar></navbar>

<!-- PROFIL -->
<div class="container">
    <div class="profileArea col-md-6">
            <img src="https://pixabay.com/static/uploads/photo/2012/04/13/21/07/user-33638_960_720.png" class="profilPicture img-fluid img-circle" alt="profil picture" />
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
    <div class="profileArea col-md-6">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSjIjMB0vEIoltIRIWUNG87hrEpMGcFN9IdPIZJAvjjDCIDx8ej" class="profilPicture img-fluid img-circle" alt="profil picture" />
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</div>

<!-- ZAP -->
<div id="containerButton" class="container">
    <div id="zapBtn" class="col-md-3 col-md-offset-5">
        <button class="btn">ZAPPER COMME JAMAIS</button>
    </div>
</div>

<!-- CHAT -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                </div>
                <div class="panel-body">
                    <ul class="chat">
                        <li ng-repeat="obj in match.msg">
                        <tchatmsg></tchatmsg>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>