
<link rel="stylesheet" href="style/profil.css"/>

<navbar></navbar>

<div class="containter">
    <div class="col-md-4">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQAUxslzkT0L6Hv6igUJUfu8JkafRp819ESgNG6b2rQWydxptE5Sw">
    </div>

    <div class="col-md-8 ">
            <!-- PERSONNE -->
        <div id="infosProfil">
            <form name="formProfil" id="formProfil">
                <div class="formTitle">Informations du profil</div>
                <div class="form-group">
                    <span>Sexe</span>
                    <select name = "inputSexe" class="form-control" id="inputSexe" ng-model="personne.sexe" required>
                        <option value="">Choisir une valeur</option>
                        <option value="f">Femme</option>
                        <option value="m">Homme</option>
                    </select>
                </div>
                <div class="form-group">
                    <span>Date de naissance</span>
                    <input type="date" class="form-control" id="inputDateDeNaissance" placeholder="Date de naissance" ng-model="personne.login" required />
                </div>
                <div class="form-group">
                    <span>Taille</span>
                    <input type="number" class="form-control" id="inputTaille" placeholder="Taille" min="90" max="230" ng-model="personne.taille" required />
                </div>
                <div class="form-group">
                    <span>Situation amoureuse</span>
                    <!--<input type="text" class="form-control" id="inputSituation" placeholder="Situation familiale" ng-model="personne.situationFamiliale" />-->
                    <select name="inputSituation" class="form-control" id="inputSituation" ng-model="personne.situationFamiliale" required >
                        <option value="">Choisir une valeur</option>
                        <option value="Célibataire">Célibataire</option>
                        <option value="En Couple">En Couple</option>
                        <option value="Marié">Marié</option>
                        <option value="Divorcé">Divorcé</option>
                        <option value="C'est compliqué">C'est compliqué</option>
                    </select>
                </div>
                <div class="form-group">
                    <span>Niveau d'études</span>
                    <select name="inputNiveauEtudes" class="form-control" id="inputEtudes" ng-model="personne.niveauEtude" required >
                        <option value="">Choisir une valeur</option>
                        <option value="C'est compliqué">C'est compliqué</option>
                        <option value="Baccalauréat">Baccalauréat</option>
                        <option value="Entre Bac+1 et Bac+3">Entre Bac+1 et Bac+3</option>
                        <option value="Entre Bac+3 et Bac+5">Entre Bac+3 et Bac+5</option>
                        <option value="Bac+6 et plus">Bac+6 et plus</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputUniversite" placeholder="Etablissement/Université" ng-model="personne.universite" required />
                </div>
                <div class="form-group">
                    <!--<input type="text" class="form-control" id="inputOrigine" placeholder="Origine ethnique" ng-model="personne.origine" />-->
                    <span>Origine ethnique</span>
                    <select class="form-control" id="inputOrigine" placeholder="Origine ethnique" ng-model="personne.origine" required >
                        <option value="">Choisir une valeur</option>
                        <option value ="Blanc/Caucasien">Blanc/Caucasien</option>
                        <option value ="Noir/Africain">Noir/Africain</option>
                        <option value ="Moyen Oriental">Moyen Oriental</option>
                        <option value ="Asiatique">Asiatique</option>
                        <option value ="Amérique Latine">Amérique Latine</option>
                    </select>
                </div>
                <div class="form-group">
                    <span>Profession</span>
                    <input type="text" class="form-control" id="inputmMetier" placeholder="Profession" ng-model="personne.metier" required />
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-10 col-sm-2">
                        <button id="submitInfos" class="btn btn-success" ng-click="updateProfil()">
                            Valider
                        </button>
                    </div>
                </div>
            </form>
        </div>

            <!-- Photo -->
        <div layout="column" flex="auto" layout-align="center center">



            <md-button ngf-select ngf-change="changeAvatar($file)" aria-label="upload photo" accept="image/png, image/jpg, image/jpeg"
                       ng-if="!avatarUploaded  && canEdit">
                <md-icon md-svg-src="angular-material:edit" class="blue-font ic_16px"></md-icon>
                <span style="font-weight: 200">Changer de photo</span>
            </md-button>

            <img ngf-src="picFile" style="width: 100px; height: 100px; border-radius: 20px" ng-if="avatarUploaded"/>

            <div layout="row">

                <md-button ng-if="avatarUploaded" ng-click="cancelAvatar()" aria-label="Cancel Avatar">
                    <md-icon md-svg-src="material-design:reply" class="blue-font ic_16px"></md-icon>
                </md-button>

                <md-button ng-if="avatarUploaded" ng-click="validAvatar()" aria-label="Valid Avatar">
                    <md-icon md-svg-src="angular-material:doneLB" class="blue-font ic_16px"></md-icon>
                </md-button>
            </div>
        </div>

            <!-- INTERET -->
        <div id = "infosInteret">
            <form name="formInteret" id="formInteret">
                <div class="formTitle">Centres d'intérêts</div>

                <div class="form-group">
                    <span>Sexe</span>
                    <select class="form-control" id="interetSexe" placeholder="Sexe" ng-model="interet.sexe" required>
                        <option value="">Choisir une valeur</option>
                        <option value ="f">Femme</option>
                        <option value ="m">Homme</option>
                    </select>
                </div>
                <div class="form-group">
                    <span>Age</span>
                    <input type="number" class="form-control" id="interetAge" placeholder="Age" min="15" max="70" ng-model="interet.age" required />
                </div>
                <div class="form-group">
                    <span>Taille</span>
                    <input type="number" class="form-control" id="interetTaille" placeholder="Taille" min="90" max="230" ng-model="interet.taille" required />
                </div>
                <div class="form-group">
                    <span>Sélectionnez 3 Origines</span>
                    <select class="form-control" id="interetOrigine1" placeholder="Origine ethnique" ng-model="interet.origine1" required >
                        <option value="">Choisir une valeur</option>
                        <option value ="Blanc/Caucasien">Blanc/Caucasien</option>
                        <option value ="Noir/Africain">Noir/Africain</option>
                        <option value ="Moyen Oriental">Moyen Oriental</option>
                        <option value ="Asiatique">Asiatique</option>
                        <option value ="Amérique Latine">Amérique Latine</option>
                    </select>
                    <select class="form-control" id="interetOrigine2" placeholder="Origine ethnique" ng-model="interet.origine2" required >
                        <option value="">Choisir une valeur</option>
                        <option value ="Blanc/Caucasien">Blanc/Caucasien</option>
                        <option value ="Noir/Africain">Noir/Africain</option>
                        <option value ="Moyen Oriental">Moyen Oriental</option>
                        <option value ="Asiatique">Asiatique</option>
                        <option value ="Amérique Latine">Amérique Latine</option>
                    </select>
                    <select class="form-control" id="interetOrigine3" placeholder="Origine ethnique" ng-model="interet.origine3" required >
                        <option value="">Choisir une valeur</option>
                        <option value ="Blanc/Caucasien">Blanc/Caucasien</option>
                        <option value ="Noir/Africain">Noir/Africain</option>
                        <option value ="Moyen Oriental">Moyen Oriental</option>
                        <option value ="Asiatique">Asiatique</option>
                        <option value ="Amérique Latine">Amérique Latine</option>
                    </select>
                </div>
                <div class="form-group">
                    <span>Sélectionnez 3 Facettes</span>
                    <select class="form-control" id="interetFacette1" ng-model="interet.facetteid1" required>
                        <option value="">Choisir une valeur</option>
                    </select>
                    <select class="form-control" id="interetFacette2" ng-model="interet.facetteid2" required>
                        <option value="">Choisir une valeur</option>
                    </select>
                    <select class="form-control" id="interetFacette3" ng-model="interet.facetteid3" required>
                        <option value="">Choisir une valeur</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-10 col-sm-2">
                        <button id="submitInteret" class="btn btn-success" ng-click="updateInteret()">
                            Valider
                        </button>
                    </div>
                </div>

            </form>
        </div>
            <!-- QUESTIONS -->
            <div class="formTitle">Questionnaire de Personnalité</div>
            <form name="questionForm">
                <div class="form-group" ng-repeat="quest in profil_question">
                    <label class="col-sm-8 control-label">
                        {{quest.libelle}}</label>
                    <div class="col-md-4 cols-md-offset-8">
                            <label class="radio-inline" ng-repeat="i in [1,2,3,4,5]">
                                <input type="radio" name="inlineRadioOptions{{quest.id}}" class="radioQuestion" id="radio{{i}}quest{{quest.id}}" value="{{i}}">
                                {{i}}
                            </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-10 col-sm-2">
                        <button type="submit" class="btn btn-success" ng-click="pushData()">Valider</button>
                    </div>
                </div>
            </form>
    </div>
</div>

