
<link rel="stylesheet" href="style/profil.css"/>

<navbar></navbar>

<div class="containter">
    <div class="col-md-4">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQAUxslzkT0L6Hv6igUJUfu8JkafRp819ESgNG6b2rQWydxptE5Sw">
    </div>

    <div class="col-md-8 ">
        <!-- <div class="panel panel-default"> -->


            <!-- PERSONNE -->

            <!-- INTERET -->

            <!-- QUESTIONS -->
            <div ng-repeat="quest in profil_question">

                <div class="form-group">
                    <label class="col-sm-8 control-label">
                        {{quest.libelle}}</label>
                    <div class="col-md-4 cols-md-offset-8">

                            <label class="radio-inline" ng-repeat="i in [1,2,3,4,5]">
                                <input type="radio" name="inlineRadioOptions{{quest.id}}" class="radioQuestion" id="radio{{i}}quest{{quest.id}}" value="{{i}}">
                                {{i}}
                            </label>

                    </div>
                </div>
            </div>
            <form>
                <div class="form-group">
                    <div class="col-sm-offset-10 col-sm-2">
                        <button type="submit" class="btn btn-success" ng-click="pushData()">Valider</button>
                    </div>
                </div>
            </form>

        <!-- </div> -->
    </div>
</div>

