
<link rel="stylesheet" href="style/profil.css"/>

<navbar></navbar>

<div class="containter">
    <div class="col-md-4">
        <!-- Photo -->
        <img id="avatar-img" class="profileImage" ng-src="{{linkSrcImage}}">
        <div layout="column" flex="auto">
            <md-button id="btnUpload" class="md-raised" ngf-select ngf-change="changeAvatar($file)" aria-label="upload photo" accept="image/png, image/jpg, image/jpeg">
                <!--ng-if="!avatarUploaded  && canEdit">-->
                <!--<span style="font-weight: 200">Changer de photo</span>-->
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                <span>Modifier la photo</span>
            </md-button>

            <img id="uploadThumbnail" ngf-src="picFile" ng-if="avatarUploaded"/>

            <div layout="row">

                <md-button ng-if="avatarUploaded" ng-click="cancelAvatar()" aria-label="Cancel Avatar">
                    Annuler
                </md-button>

                <md-button ng-if="avatarUploaded" ng-click="validAvatar()" aria-label="Valid Avatar">
                    Valider
                </md-button>
            </div>
        </div>
    </div>


    <div class="col-md-8 ">
        <span>Niveau de complétion du profil</span>
        <div class="progress">
            <!--<small><em>Niveau de complétion du profil</em></small>
            <uib-progressbar class="progress-striped active" value="progressBarValue" max="{{progressBarMax}}" type="{{progressBarType}}"></uib-progressbar>-->
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                 aria-valuenow="{{progressBarValue}}" aria-valuemin="0" aria-valuemax="{{progressBarMax}}"
                 ng-style="{width : ( progressBarWidth + '%' ) }">

            </div>
        </div>
            <!-- PERSONNE -->
        <div id="infosProfil">
            <form name="formProfil" id="formProfil">
                <div class="formTitle">Informations du profil</div>
                <div class="form-group">
                    <span>Sexe</span>
                    <select name = "inputSexe" class="form-control" id="inputSexe" ng-model="personneTmp.sexe" required>
                        <option value="">Choisir une valeur</option>
                        <option value="f">Femme</option>
                        <option value="m">Homme</option>
                    </select>
                </div>
                <div class="form-group">
                    <span>Date de naissance</span>
                    <input type="date" class="form-control" id="inputDateDeNaissance" placeholder="Date de naissance" ng-model="personneTmp.login" required />
                </div>
                <div class="form-group">
                    <span>Taille</span>
                    <input type="number" class="form-control" id="inputTaille" placeholder="Taille" min="90" max="230" ng-model="personneTmp.taille" required />
                </div>
                <div class="form-group">
                    <span>Situation amoureuse</span>
                    <!--<input type="text" class="form-control" id="inputSituation" placeholder="Situation familiale" ng-model="personneTmp.situationFamiliale" />-->
                    <select name="inputSituation" class="form-control" id="inputSituation" ng-model="personneTmp.situationFamiliale" required >
                        <option value="">Choisir une valeur</option>
                        <option value="Célibataire">Célibataire</option>
                        <option value="En Couple">En Couple</option>
                        <option value="Marié">Marié</option>
                        <option value="Divorcé">Divorcé</option>
                        <option value="C'est compliqué">C'est compliqué</option>
                    </select>
                </div>
                <div class="form-group">
                    <span>Niveau d'études</span>
                    <select name="inputNiveauEtudes" class="form-control" id="inputEtudes" ng-model="personneTmp.niveauEtude" required >
                        <option value="">Choisir une valeur</option>
                        <option value="C'est compliqué">C'est compliqué</option>
                        <option value="Baccalauréat">Baccalauréat</option>
                        <option value="Entre Bac+1 et Bac+3">Entre Bac+1 et Bac+3</option>
                        <option value="Entre Bac+3 et Bac+5">Entre Bac+3 et Bac+5</option>
                        <option value="Bac+6 et plus">Bac+6 et plus</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputUniversite" placeholder="Etablissement/Université" ng-model="personneTmp.universite" required />
                </div>
                <div class="form-group">
                    <!--<input type="text" class="form-control" id="inputOrigine" placeholder="Origine ethnique" ng-model="personneTmp.origine" />-->
                    <span>Origine ethnique</span>
                    <select class="form-control" id="inputOrigine" placeholder="Origine ethnique" ng-model="personneTmp.origine" required >
                        <option value="">Choisir une valeur</option>
                        <option value ="Blanc/Caucasien">Blanc/Caucasien</option>
                        <option value ="Noir/Africain">Noir/Africain</option>
                        <option value ="Moyen Oriental">Moyen Oriental</option>
                        <option value ="Asiatique">Asiatique</option>
                        <option value ="Amérique Latine">Amérique Latine</option>
                    </select>
                </div>
                <div class="form-group">
                    <span>Profession</span>
                    <input type="text" class="form-control" id="inputmMetier" placeholder="Profession" ng-model="personneTmp.metier" required />
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-10 col-sm-2">
                        <button id="submitInfos" class="btn btn-success" ng-click="postPersonne()">
                            Valider
                        </button>
                    </div>
                </div>
            </form>
        </div>



            <!-- INTERET -->
        <div id = "infosInteret">
            <form name="formInteret" id="formInteret">
                <div class="formTitle">Ce que vous recherchez</div>

                <div class="form-group">
                    <span>Sexe</span>
                    <select class="form-control" id="interetSexe" placeholder="Sexe" ng-model="interet.sexe" required>
                        <option value="">Choisir une valeur</option>
                        <option value ="f">Femme</option>
                        <option value ="m">Homme</option>
                    </select>
                </div>
                <div class="form-group">
                    <span>Age</span>
                    <input type="number" class="form-control" id="interetAge" placeholder="Age" min="15" max="70" ng-model="interet.age" required />
                </div>
                <div class="form-group">
                    <span>Taille</span>
                    <input type="number" class="form-control" id="interetTaille" placeholder="Taille" min="90" max="230" ng-model="interet.taille" required />
                </div>
                <div class="form-group">
                    <span>Sélectionnez 3 Origines</span>
                    <select class="form-control" id="interetOrigine1" placeholder="Origine ethnique" ng-model="interet.origine1" required >
                        <option value="">Choisir une valeur</option>
                        <option value ="Blanc/Caucasien">Blanc/Caucasien</option>
                        <option value ="Noir/Africain">Noir/Africain</option>
                        <option value ="Moyen Oriental">Moyen Oriental</option>
                        <option value ="Asiatique">Asiatique</option>
                        <option value ="Amérique Latine">Amérique Latine</option>
                    </select>
                    <select class="form-control" id="interetOrigine2" placeholder="Origine ethnique" ng-model="interet.origine2" required >
                        <option value="">Choisir une valeur</option>
                        <option value ="Blanc/Caucasien">Blanc/Caucasien</option>
                        <option value ="Noir/Africain">Noir/Africain</option>
                        <option value ="Moyen Oriental">Moyen Oriental</option>
                        <option value ="Asiatique">Asiatique</option>
                        <option value ="Amérique Latine">Amérique Latine</option>
                    </select>
                    <select class="form-control" id="interetOrigine3" placeholder="Origine ethnique" ng-model="interet.origine3" required >
                        <option value="">Choisir une valeur</option>
                        <option value ="1">Blanc/Caucasien</option>
                        <option value ="2">Noir/Africain</option>
                        <option value ="3">Moyen Oriental</option>
                        <option value ="4">Asiatique</option>
                        <option value ="5">Amérique Latine</option>
                    </select>
                </div>
                <div class="form-group">
                    <span>Sélectionnez 3 Facettes</span>
                    <select class="form-control" id="interetFacette1" ng-options="x.libelle for x in facette" ng-model="interet.facetteid1" required>
                    </select>
                    <select class="form-control" id="interetFacette2" ng-options="x.libelle for x in facette" ng-model="interet.facetteid2" required>
                    </select>
                    <select class="form-control" id="interetFacette3" ng-options="x.libelle for x in facette" ng-model="interet.facetteid3" required>
                    </select>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-10 col-sm-2">
                        <button id="submitInteret" class="btn btn-success" ng-click="postInteret()">
                            Valider
                        </button>
                    </div>
                </div>

            </form>
        </div>
            <!-- QUESTIONS -->
            <div class="formTitle">Questionnaire de Personnalité</div>
            <form name="questionForm">
                <div class="form-group" ng-repeat="quest in profil_question">
                    <label class="col-sm-8 control-label">
                        {{quest.libelle}}</label>
                    <div class="col-md-4 cols-md-offset-8">
                            <label class="radio-inline" ng-repeat="i in [1,2,3,4,5]">
                                <input type="radio" name="inlineRadioOptions{{quest.id}}" class="radioQuestion" id="radio{{i}}quest{{quest.id}}" value="{{i}}">
                                {{i}}
                            </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-10 col-sm-2">
                        <button type="submit" class="btn btn-success" ng-click="pushData()">Valider</button>
                    </div>
                </div>
            </form>
    </div>
</div>

